<p-fieldset legend="Administración de Usuarios">

  <form class="ui-fluid" [formGroup]="formUser">

    <div class="ui-g-6">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <label>Usuario</label>
        </div>
        <div class="ui-g-12">
          <input formControlName="usuario" pInputText type="text" autocomplete="off" autocorrect="off"
            autocapitalize="off" spellcheck="off">
        </div>
      </div>
    </div>

      <!--  <div class="ui-g-4">
          <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label>Rol</label>
                </div>
               <div class="ui-g-12">
                  <input formControlName="rol" pInputText type="text" autocomplete="off" autocorrect="off"
                  autocapitalize="off" spellcheck="off">
                </div>
      </div>
    </div>
    -->

    <div class="ui-g-6">
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <label>Nombre</label>
        </div>
        <div class="ui-g-12">
          <input formControlName="nombre" pInputText type="text" autocomplete="off" autocorrect="off"
          autocapitalize="off" spellcheck="off">
        </div>
      </div>
    </div>

    <div class="ui-g-2">
      <div class="ui-g-12">
        <button pButton label="Buscar" icon="ui-icon-search" (click)="buscarGrupo()">
        </button>
      </div>
    </div>

  </form>

  <div class="ui-g-12" style="margin-bottom:10px">
    <p-dataTable [value]="grupoUsuarios" selectionMode="single" [paginator]="true" [rows]="10"
      [responsive]="true" [hidden]="!grupoUsuarios" [style]="{'text-align':'center'}">
      <p-header>
        <div class="ui-helper-clearfix">
          Grupo de Usuarios

        </div>
      </p-header>
      <p-column  header="Usuario" [sortable]="true">
          <ng-template let-user="rowData" pTemplate="body">
              {{ user.userName }}
          </ng-template>
      </p-column>
   <!--   <p-column header="Rol de Usuario" [sortable]="true">
        <ng-template let-rol="rowData" pTemplate="body">
        &lt;!&ndash;  {{ valorLista(rol.role, listaRol) }} comentado erika &ndash;&gt;
        </ng-template>
      </p-column>-->
      <p-column header="Nombre" [sortable]="true">
        <ng-template let-user="rowData" pTemplate="body">
          {{ user.name }}
        </ng-template>
      </p-column>
      <p-column styleClass="col-button" [style]="{'width':'80px'}">
        <ng-template let-user="rowData" let-index="rowIndex" pTemplate="body">
          <button type="button" pButton icon="ui-icon-edit" 
            (click)="editarUsuario(user, index)" ></button>
        </ng-template>
      </p-column>

    </p-dataTable>
  </div>

</p-fieldset>

<div *ngIf="usuarioPadre">
  <app-detalleAdministracionUsuarios
    [usuarioHijo]="usuarioPadre"
    [usuarioHijo1]="usuarioPadre"
    [listaTipoIdent]="listaTipoIdent"
    [listaRol]="listaRol"
    (guardarUsuario)="guardarUsuario($event)"
  ></app-detalleAdministracionUsuarios>
</div>
