<div class="container">
    <p-fieldset legend="Administración de Privacidad">
        <div>
            <div class="card-group">
                <div  style="max-width: 18rem;" (click)="cambiarPassword()">
                    <div class="ui-g-12">
                        <button pButton label="Cambiar Contraseña" icon="ui-icon-lock">
                        </button>
                    </div>
                </div>
            </div>
            <p-dialog header="Cambiar Contraseña" [(visible)]="cambiar" [responsive]="true"
                      positionTop="80" [width]="400" [style]="{'max-height':'100%'}">

                <form [formGroup]="form" novalidate>
                    <div class="ui-g-12" style="text-align: center">
                        <img src="assets/layout/images/logo.png">
                    </div>
                    <br>
                    <div class="ui-g-12">
                      <span class="md-inputfield">
                          <input formControlName="username" pInputText type="text" autocomplete="off" autocorrect="off"
                                 autocapitalize="off" spellcheck="off " style="width:100%" [ngModel]="body.username" [readOnly]="true">
                          <label>Usuario</label>
                      </span>
                        <br>
                     </div>
                    <br> <br>
                    <div class="ui-g-12">
                          <span class="md-inputfield">
                              <input formControlName="oldPassword" type="password" autocomplete="off" autocorrect="off"
                                     autocapitalize="off" spellcheck="off" style="width:100%" pInputText>
                              <label>Antigua Contraseña</label>
                          </span>
                        <br>
                    </div>
                    <br> <br>
                    <div class="ui-g-12">
                      <span class="md-inputfield">
                          <input formControlName="newPassword" type="password" autocomplete="off" autocorrect="off"
                                 autocapitalize="off" spellcheck="off" style="width:100%" pInputText>
                          <label>Nueva Contraseña</label>
                          <br>
                      </span>
                    </div>
                    <br><br>


                    <div>
                        <br><br><br><br><br>
                        <button pButton type="button" label="Cambiar Contraseña"
                            class="blue-btn" icon="ui-icon-lock" (click)="cambiarService()"
                            style="width:100%"></button>
                    </div>
                </form>
            </p-dialog>
        </div>
    </p-fieldset>
</div>
