<div class="profile" [ngClass]="{'profile-expanded':active}">
        <a href="#" (click)="onClick($event)">
            <img class="profile-image" src="assets/layout/images/avatar.png" />
            <!--<span class="profile-name">{{currentUser.name + " " + currentUser.lastName}}</span><br> comentado erika -->
            <i class="material-icons">keyboard_arrow_down</i>
        </a>
    </div>

    <ul class="ultima-menu profile-menu" [@menu]="active ? 'visible' : 'hidden'">
        <li role="menuitem">
            <a href="#" class="ripplelink" [attr.tabindex]="!active ? '-1' : null" (click)="_onProfile($event)">
                <i class="material-icons">person</i>
                <span>Perfil</span>
            </a>
        </li>
        <li role="menuitem">
            <a href="#" class="ripplelink" [attr.tabindex]="!active ? '-1' : null" (click)="_onPrivacity($event)">
                <i class="material-icons">security</i>
                <span>Privacidad</span>
            </a>
        </li>
        <li role="menuitem" *ngIf="rolAdmin">
            <a href="#" class="ripplelink" [attr.tabindex]="!active ? '-1' : null" (click)="_onSecurityRole($event)">
                <i class="material-icons">settings_application</i>
                <span>Administración</span>
            </a>
        </li>
        <li role="menuitem">
            <a class="ripplelink" [attr.tabindex]="!active ? '-1' : null" (click)="logout()">
                <i class="material-icons">power_settings_new</i>
                <span>Cerrar Sesión</span>
            </a>
        </li>
    </ul>
