<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog header="Confirmación" icon="" width="425" acceptLabel="Aceptar" rejectLabel="Cancelar"
                 responsive="true">
</p-confirmDialog>


<p-blockUI [blocked]="isLoading"></p-blockUI>
<p-progressSpinner *ngIf="isLoading" [style]="{width: '100px', height: '100px'}"
    strokeWidth="4" fill="#EEEEEE" animationDuration="1s">
</p-progressSpinner>