<p-fieldset class="ui-fluid" legend="Administración de Procesos">

  <div class="ui-inputgroup">
    <div class="ui-g-6" *ngIf="listaContenedor">
      <div class="ui-g-4">
        <label>Espacio de Trabajo</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown [options]="listaContenedor" [(ngModel)]="contenedorSelect" 
          optionLabel="containerAlias" [style]="{minWidth:'100%'}" placeholder="Seleccione">
        </p-dropdown>
      </div>
    </div>
    
    <div class="ui-g-6">
      <div class="ui-g-6">
        <button pButton label="Buscar" icon="ui-icon-search" (click)="buscarProcesos(contenedorSelect)"
          [disabled]="!contenedorSelect">
        </button>
      </div>
    </div>
  </div>
  
  <div class="ui-g-12" style="margin-bottom:10px">
    <p-dataTable [value]="procesos" selectionMode="single" [responsive]="true" 
      [hidden]="!procesos" [style]="{'text-align':'center'}">
      <p-header>
        <div class="ui-helper-clearfix">
          Procesos
        </div>
      </p-header>
      <p-column field="processId" header="Id de Proceso"></p-column>
      <p-column field="processName" header="Nombre Proceso"></p-column>
      <p-column field="processVersion" header="Versión"></p-column>
      <p-column styleClass="col-button" header="Iniciar Proceso" [style]="{'width':'80px'}">
        <ng-template let-proceso="rowData" pTemplate="body">
          <button type="button" pButton icon="ui-icon-playlist-add" 
            (click)="iniciarProceso(proceso)"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
  
</p-fieldset>
    