<p-dialog header="Perfil Usuario" [(visible)]="display" modal="modal"
          width="760" [responsive]="true" [closable]="false">

    <div class="form-group">

        <!-- <div class="ui-inputgroup">
             <div class="ui-g-4">
                 <label>Tipo Identificación</label>
             </div>
             <div class="ui-g-8">
                 <p-dropdown [options]="listaTipoIdent" placeholder="Seleccione" optionLabel="name"
                             [(ngModel)]="tipoIdentSelect" [style]="{minWidth:'100%'}"></p-dropdown>
             </div>
         </div>-->

        <!--<div class="ui-inputgroup">
          <div class="ui-g-4">
            <label>Numero Identificación</label>
          </div>
          &lt;!&ndash;<div class="ui-g-8">
            <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.identNumber">
          </div> comentado erika &ndash;&gt;
        </div>-->

   <!-- <div class="ui-inputgroup">
      <div class="ui-g-4">
        <label>Usuario</label>
      </div>
      <div class="ui-g-8">
        <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.username" [disabled]="!newUser">
      </div>
    </div>-->

    <!--<div class="ui-inputgroup">
      <div class="ui-g-4">
        <label>Password</label>
      </div>
      <div class="ui-g-8">
        <input type="password" size="63" pInputText [(ngModel)]="usuarioHijo.password">
      </div>
    </div>-->
  
    <div class="ui-inputgroup">
      <div class="ui-g-4">
        <label>Nombre</label>
      </div>
      <div class="ui-g-8">
        <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.body.name">
      </div>
    </div>

        <!--<div class="ui-inputgroup">
          <div class="ui-g-4">
            <label>Apellido</label>
          </div>
          <div class="ui-g-8">
           &lt;!&ndash; <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.lastName"> comentado erika &ndash;&gt;
          </div>
        </div>-->

        <!--<div class="ui-inputgroup">
          <div class="ui-g-4">
            <label>Nombre Completo</label>
          </div>
          <div class="ui-g-8">
           &lt;!&ndash; <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.fullName"> comentado erika &ndash;&gt;
          </div>
        </div>
    -->
        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Correo Electronico</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.body.email">
            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Numero de Teléfono</label>
            </div>
            <div class="ui-g-8">
                <input type="text" size="63" pInputText [(ngModel)]="usuarioHijo.body.phoneNumber">

            </div>
        </div>

        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Rol Actual</label>
            </div>

            <div class="ui-g-5" style="margin-left: -4%">
                <ul >
                    <li style="list-style-type: none;" *ngFor="let item of ides;">
                        {{item}}
                    </li>
                </ul>
            </div>

            <!--div class="ui-g-3" [hidden]="eliminarRol"-->
            <div class="ui-g-3">
                <ul   style="margin-left: -4%">
                    <li [hidden]="!ides" style="list-style-type: none;">
                        <a  *ngIf="bandera" style=" color:#3d71c8;cursor:pointer; font-size: smaller " (click)=" eliminarRoles()" >Eliminar Roles </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="ui-inputgroup">
            <div class="ui-g-4">
                <label>Asignar Rol</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="listaRol" placeholder="Seleccione" optionLabel="name"
                            [(ngModel)]="rolSelect" [style]="{minWidth:'100%'}"></p-dropdown>
            </div>
        </div>

    </div>

    <p-footer>
        <button type="button" pButton icon="ui-icon-check" (click)="guardarUsuarioInfo()" label="Guardar"
                class="ui-button-success"></button>
        <button type="button" pButton icon="ui-icon-close" (click)="cerrar()" label="Cancelar"
                class="ui-button-danger"></button>
    </p-footer>

</p-dialog>
