<div class="ui-fluid dashboard">

  <div class="ui-g-12">
    <p-chart type="doughnut" responsive="true" width="1067px" height="260px" [data]="data"></p-chart>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <div class="ui-g card colorbox colorbox-2">
      <div class="ui-g-4">
        <i class="fa ui-icon-assignment-ind"></i>
      </div>
      <div class="ui-g-8">
        <span class="colorbox-name">Pendiente por gesti&oacute;n</span>
        <span class="colorbox-count">{{ readyTasks}}</span>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <div class="ui-g card colorbox colorbox-3">
      <div class="ui-g-4">
        <i class="fa ui-icon-assignment"></i>
      </div>
      <div class="ui-g-8">
        <span class="colorbox-name">En proceso</span>
        <span class="colorbox-count">{{ progressTasks }}</span>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <div class="ui-g card colorbox colorbox-1">
      <div class="ui-g-4">
        <i class="fa ui-icon-assignment-turned-in"></i>
      </div>
      <div class="ui-g-8">
        <span class="colorbox-name">Completadas</span>
        <span class="colorbox-count">{{ completedTasks }}</span>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="card overview">
      <div class="overview-content clearfix">
        <span class="overview-title">% Pendientes por gesti&oacute;n hoy</span>
        <span class="overview-badge">{{readyTasksPercents}}%</span></div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
    <div class="card overview">
      <div class="overview-content clearfix">
        <span class="overview-title">% En proceso hoy </span>
        <span class="overview-badge">{{progressTasksPercents}}%</span>
      </div>

    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
    <div class="card overview">
      <div class="overview-content clearfix">
        <span class="overview-title">% Completadas hoy</span>
        <span class="overview-badge">{{completedTasksPercents}}%</span>
      </div>
    </div>
  </div>

</div>


