<alert></alert>
<div class="card login-panel ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <img src="assets/layout/images/logo.png">
        </div>
        <p-toast [style]="{marginTop: '80px'}"></p-toast>

        <form (ngSubmit)="submit()" [formGroup]="form" novalidate>
            <div class="ui-g-12">
          <span class="md-inputfield">
              <input formControlName="username" pInputText type="text" autocomplete="off" autocorrect="off"
                     autocapitalize="off" spellcheck="off">
              <label>Usuario</label>
          </span>
            </div>
            <div class="ui-g-12">
          <span class="md-inputfield">
              <input formControlName="password" type="password" autocomplete="off" autocorrect="off"
                     autocapitalize="off" spellcheck="off" pInputText>
              <label>Contraseña</label>
          </span>
            </div>
            <div class="ui-g-12">
                <button pButton type="submit" label="Entrar" style="margin-bottom:10px" class="blue-grey-btn"
                        icon="ui-icon-person" [disabled]="form.invalid"></button>
                <button pButton type="button" label="Recuperar Contraseña" style="margin-bottom:10px" class="green-btn"
                        icon="ui-icon-help" (click)="recuperarPassword()"></button>
            </div>

            <p-dialog header="Recuperar contraseña" [(visible)]="recuperar" modal="true" [responsive]="true"
                      positionTop="20"
                      [width]="600" [style]="{'max-height':'100%'}" (onHide)="closePopup()">
                <div class="ui-g-12">
                    <img src="assets/layout/images/logo.png">
                </div>
                <div class="ui-g-12">
                  <span class="md-inputfield">
                      <input formControlName="username" pInputText type="text" autocomplete="off" autocorrect="off"
                             autocapitalize="off" spellcheck="off">
                      <label>Usuario</label>
                  </span>
                </div>
                <div class="ui-g-12">
                  <span class="md-inputfield">
                      <input formControlName="password" type="password" autocomplete="off" autocorrect="off"
                             autocapitalize="off" spellcheck="off" pInputText>
                      <label>Nueva Contraseña</label>
                  </span>
                </div>
                <div>
                    <button pButton type="button" label="Recuperar Contraseña" style="margin-bottom:10px"
                            class="green-btn" icon="ui-icon-help" (click)="recuperarService()"></button>
                </div>
            </p-dialog>
        </form>
    </div>

</div>
