<div class="ui-fluid">

    <p-messages [(value)]="msgs"></p-messages>




    <div class="ui-g-12 ui-md-12 h2">
        <h2 class="encabezado">Información Pago - Cooperativa</h2>
    </div>

    <p-fieldset class="encabezado" legend=" Información PSD ">

        <app-tabla-calculo-primas></app-tabla-calculo-primas>
        <div class="espaciado"></div>
        <app-tabla-fecha-primas></app-tabla-fecha-primas>

    </p-fieldset>


    <p-fieldset class="encabezado" legend="Información Para El Pago ">


        <form class="ui-fluid" [formGroup]="formPagoPse">
            <div class="ui-fluid row">

                <div class="form-group ui-g-12 ui-md-6">
                    <div class="ui-g-6">
                        Tipo Documento
                    </div>
                    <div class="ui-g-6">
                        <input formControlName="nit" class="form-control" name="nit" pInputText type="text"/>
                    </div>
                </div>


                <div class="form-group ui-g-12 ui-md-6">
                    <div class="ui-g-6">
                        Numero Documento:
                    </div>
                    <div class="ui-g-6">
                        <input formControlName="nitCooperativa" class="form-control" name="nitCooperativa" pInputText type="text"
                               placeholder="NIT"/>
                    </div>
                </div>

                <div class="form-group ui-g-12 ui-md-6">
                    <div class="ui-g-6">
                        Nombre Cooperativa:
                    </div>
                    <div class="ui-g-6">
                        <input formControlName="nombreCooperativa" class="form-control" name="nombreCooperativa" pInputText
                               type="text"
                               placeholder="Nombre "/>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-6">
                        Dirección Cooperativa:
                    </div>
                    <div class="ui-g-6">
                        <input formControlName="direccionCooperativa" class="form-control" name="direccionCooperativa" pInputText type="text"
                               placeholder="Dirección "/>

                    </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-6">
                        Teléfono Cooperativa:
                    </div>
                    <div class="ui-g-6">
                        <input formControlName="telefonoCooperativa" class="form-control" name="telefonoCooperativa" pInputText type="text"
                               placeholder="Telefono "/>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-6">
                        Valor a Pagar
                    </div>
                    <div class="ui-g-6">
                        <input formControlName="valorPagar" class="form-control" name="valorPagar" pInputText type="text"
                               placeholder="$$$"/>


                    </div>
                </div>


                <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-6">
                        Correo Cooperativa
                    </div>
                    <div class="ui-g-6">
                        <input formControlName="correoCooperativa" class="form-control" name="correoCooperativa" pInputText type="text"
                               placeholder="correoCooperativa"/>


                    </div>
                </div>



            </div>
        </form>
    </p-fieldset>

    <div class="ui-g-9"></div>
    <div class="ui-g-1"><img src="assets/img/logo-pse.png" width="50em" height="auto" alt=""></div>

    <div class="ui-g-2 form-group">
        <div class="ui-g-2 btnalignament">
            <p-button [disabled]="pagar" label="Pagar" (click)="Pagar()"></p-button>
        </div>
    </div>
</div>


