<alert></alert>
<p-fieldset legend="Administración de Tareas">
    
  <div class="ui-g-12" style="margin-bottom:10px">
    <p-dataTable [value]="tareas" selectionMode="single" [paginator]="true"  
      [responsive]="true" [rows]="10" [style]="{'text-align':'center'}">
      <p-header>
        <div class="ui-helper-clearfix">
          Tareas
        </div>
      </p-header>
      <p-column field="taskId" header="Id Tarea" [sortable]="true"></p-column>
      <p-column field="taskName" header="Nombre" [sortable]="true"></p-column>
      <p-column field="taskStatus" header="Estado" [sortable]="true"></p-column>
      <p-column field="taskActualOwner" header="Propietario" [sortable]="true"></p-column>
      <p-column field="instanceId" header="Radicado" [sortable]="true"></p-column>
      <p-column styleClass="col-button" header="Iniciar Tarea" [style]="{'width':'80px'}">
        <ng-template let-task="rowData" pTemplate="body">
          <button type="button" pButton icon="ui-icon-playlist-add" 
            (click)="iniciarTarea(task)">
          </button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
  
</p-fieldset>
      